body {
  width: 400px;
  font-size: 14px;
  color: #333;
  background: #f3f3f3;
}

.loading {
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #999;
}

.party {
  height: 400px;
  position: relative;
}

.main {
  background: #fff;
  position: absolute;
  bottom: 58px;
  left: 0;
  right: 0;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.footer {
  background: #fff;
  position: absolute;
  display: flex;
  height: 50px;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer .left {
  flex: 1 100px;
  margin-right: 8px;
}

.footer .right {
  width: 80px;
}

.footer textarea,
.footer button {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.footer textarea {
  font-size: 1em;
}

.footer button {
  font-size: 1.5em;
  color: #333;
}

.message {
  border-bottom: 1px solid #eeeeee;
  padding: 10px 5px;
}

.message .meta > span {
  margin-right: 10px;
}

.text-muted {
  color: #cccccc;
}

code {
  color: #981e61;
}

.message img {
  max-width: 100%;
}
